{% extends  "base.html" %}

{% block title %}
关于网站
{% end %}

{% block body %}

<div class="container" style="padding-top: 50px">
	<div class="row">
		<div class="col-md-12">
			<article class="article the-font">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<br>
							<div align="center"><img src="/static/pic/headshot.jpg" style="height:220px;width:220px;border-radius:110px;display:block;text-align:center" align="center"></div>
							<br>
							<p class="lead text-center">CafeBabe</p>
							<p class="text-center"><em><span style="color:#ABAAAA">不求一枝独秀，但求与众不同</span></em></p>
							<br>

							<p class="palette-paragraph"><strong>这个是我的个人网站，如果你喜欢，那就按下下面的"LIKE”按钮，给我动力继续写吧</strong></p>
							<div  style="cursor:pointer" class="btn btn-danger btn-large btn-block btn-like-add">LIKE <span class="glyphicon glyphicon-heart" aria-hidden="True"></span></div>
							<hr>
							<p >已经有了这么多<strong>LIKE</strong>:<a href="#"><span id="liked">111</span></a></p>
						</div>
						<div class="col-md-8">
							<h3>个人信息：</h3>
							<hr>
							<ul>
								<li>网名：CafeBabe</li>
								<li>居住地：上海</li>
								<li>工作：web程序员</li>

							</ul>
							<h3>联系方式：</h3>
							<hr>
							<ul>
								<li>E-mail:	wenchaof@yahoo.com</li>
								<li>Skype:	cafebabe1009</li>
								<li>QQ:		2224960945</li>
							</ul>

{#							<h3>建站的初衷：</h3>#}
{#							<hr>#}
							<blockquote>
								<p></p>
								<p>也许多少年后在某个地方，</p>
								<p>我将轻声叹息将往事回顾：</p>
								<p>一片树林里分出两条路——</p>
								<p>而我选择了人迹更少的一条，</p>
								<p>从此决定了我一生的道路。</p>
								<p class="text-right"><em>——Robert Frost 《The Road Not Taken》</em></p>
							</blockquote>
							<hr>
							<p class="lead">这是我的个人网站，如果你觉得它很有趣，或者内容对你很有帮助，可以qq联系我，请我喝杯茶。</p>
							<hr>
						</div>
						<br>
						<br>
					</div>

				</div>
			</article>
			<article class="article">
				<div class="comments">
                    <!-- 第三方分享按钮 -->
                    <!-- JiaThis Button BEGIN -->
                    <div class="jiathis_style_24x24">
                        <a class="jiathis_button_qzone"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_tqq"></a>
                        <a class="jiathis_button_weixin"></a>
                        <a class="jiathis_button_renren"></a>
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                    </div>
                    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
                    <!-- JiaThis Button END -->
                </div>


                <!--PC和WAP自适应版-->
                <div id="SOHUCS"></div>
                <script type="text/javascript">
                    (function(){
                    var appid = 'cytr40we9';
                    var conf = 'prod_3f0b0efc24682d4b59581ea6e7e8399d';
                    var width = window.innerWidth || document.documentElement.clientWidth;
                    if (width < 960) {
                    window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
                </script>


			</article>
			<article>

			</article>
		</div>
	</div>
</div>




{% end %}
