<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="baidu-site-verification" content="BYK75hCfG7" />
    <meta name="baidu_union_verify" content="7c22fe2bd50ac5ef37859ddbe77a5248">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% end %} | CafeBabe</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/css/flat-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
    <link rel="stylesheet" type="text/css" href="/static/default.css">

    {% block css %}

    {% end %}

    <link rel="shortcut icon" href="/static/pic/favicon.ico">
    <link rel="bookmark" href="/static/pic/favicon.ico">
    <script type="text/javascript" src="/static/dist/js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/mystyle.js"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>


    <style type="text/css">
        h1{
            font-size:50px;
        }
        h2{
            font-size: 40px;
        }
        h3{
            font-size: 30px;
        }
        p{
            font-size: 15px;
        }
        blockquote p{
            font-size: 17px;
        }
        body{
            font-size: 15px;
        }
    </style>
</head>
<body style="background-color:#EEE">
<nav class="navbar navbar-default navbar-Amethyst navbar-fixed-top" role="navigation" style="background-color: #6684e1">
    <div class="container">
        <div class="navbar-header">
            {#<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
            </button>#}
            <a class="navbar-brand" href="/">CafeBabe</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">

            <ul class="nav navbar-nav">
                <li><a href="/" class="active">Blog</a></li>
                <li><a href="/photowall">Photo</a></li>
                <li><a href="/about">About me</a></li>
                <li class="navbar-form navbar-right">

                    <form class="navbar-right" role="search">
                        <label class="sr-only">S</label>
                        <div class="form-group">
                            <input id="bdcsMain" style="text-indent: 5px" type="text" placeholder="search">
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Go">
                        </div>

                    </form>

                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav><!-- /navbar -->
{% block body%}
{% end %}


<div style="background:#384452 none repeat scroll 0% 0%;color:#BFC9D3">
    <div class="container">
        <div class="row" style="padding-top:30px;">
            <div class="col-md-7">
                <p>网站声明：</p>
                <p> <small>此网站作为学习交流网站，而非商业用途的网站，网站信息来自作者原创和第三方网站。任何组织或个人不得利用本网站进行违法或商业行为，违者必追究其法律责任。如果本站内容侵犯了您的专利或者权益，请联系，我们将立刻处理。</small></p>
            </div>
            <div class="col-md-5">
                <div>
                    <h5 style="margin-bottom:15px;margin-left:18px;"><strong>CONTACT ME</strong></h5>
                    <ul>
                        <li><a href="#"><span class=" glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp E-mail:<strong>wenchaof@yahoo.com</strong></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <p> <small>沪ICP备16031177号 | CopyRight © CafeBabe 2015</small></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=15852532764285929992' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>
</body>


{% block js %}

{% end %}

</html>
