{% extends "base.html" %}

{% block title %}
CafeBabe
{% end %}

{% block body %}


<nav class="navbar navbar-default navbar-lg navbar-Amethyst" role="navigation" style="display:none"
     xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#">GAGASALAMER</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">

            <ul class="nav navbar-nav">
                <li>

                </li>
                <li class="active"><a href="#fakelink">MYBLOG</a></li>
                <li><a href="#fakelink">ABOUTME</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="signup_icon"><a href="#">SIGNUP</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav><!-- /navbar -->

<div class="jumbotron" style="background-image: url('/static/bg.jpg')">
    <div class="container">
        <h2 style="color:#E7DBDB">Wellcome to CafeBabe's World!</h2>
        <blockquote>
            <em>心有猛虎，</em><br>
            <em>细嗅蔷薇。</em><br>
        </blockquote>
        {#background-color:#6684e1; #}
        {#<p class="lead" style="color:#E7DBDB">wanna know more , please click </p>
            <a href="about"><button class="btn btn-default btn-wide the-font">关于我</button></a>#}
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-9">

            {% for post in posts %}
            <article class="article the-font" style="display:none">

                <a href="/post/{{ post.post_id }}"><h3 style="color:#34495E">{{ post.title }}</h3></a>
                <p><small><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><span style="color:#8C8C8C;">{{ post.create_time }}</span></small></p>
                <div class="post-alert">本博客采用创作共用版权协议, 要求署名、非商业用途和保持一致. 转载本博客文章必须也遵循署名-非商业用途-保持一致的创作共用协议</div>
                <p>{{ post.summary }}</p>

                <div style="border-top:1px solid #EBEBEB;padding:10px 5px;margin-top:20px;">
                    <p>
                        <a href="/posts?category_id={{ post.category.category_id }}">
                            <span class="label label-default text-left">
                                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> {{ post.category.categoryname }}
                            </span>
                        </a>
                        <a href="/post/{{ post.post_id }}" style="float:right">
                            <button class="btn  btn-primary btn-wide text-right">
                                <span class="glyphicon glyphicon-fireglyphicon " aria-hidden="true"></span>  了解更多
                            </button>
                        </a>
                    </p>
                </div>
            </article>
            {% end %}

            <nav>
                <ul class="pagination" style="background-color: #25b4cb">
{% if current_page != 0 %}
                    <li>
                        {% else %}
                        <li class="disabled">
                        {% end %}
                        <a href="/?start={{ (current_page - 1) * 5 }}&limit=5" aria-label="Previous"><span aria-hidden="true">&laquo;</span>
                        </a>

                    </li>
                    {% for page in range((total-1)/5 + 1) %}
                    {% if current_page == page %}
{#1#}
                    <li class="active">
                    {% else %}
                    <li>
                    {% end %}
                        <a href="/?start={{ page * 5 }}&limit=5">{{ page + 1 }}</a>
                    </li>

{# 0#}

                    {% end %}

                    {% if current_page < range((total-1)/5 + 1)[-1] %}
                    <li>
                    {% else %}
                    <li class="disabled">
                    {% end %}
                        <a href="/?start={{ (current_page + 1) * 5 }}&limit=5" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>

        <div class="col-md-3">

            <div class="share mrl the-font" style="background-color:#FFF;box-shadow:5px 5px 20px #CCC;width:260px;">
                <div style="padding:10px;">
                    <div style="border-bottom:1px solid #DAD4D4;;padding:10px 10px;">
                        <h5><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>CATEGORY</h5>
                    </div>

                    <ul>
                        {% for category in categories %}
                        <li class="presentation" style="padding-top:0px;"><a href="/posts?category_id={{ category.category_id }}" ><p><span style="font-size:15px;">> {{ category.categoryname }}</span><span class="badge text-right" style="float:right">{{ len(category.posts) }}</span></p></a></li>
                        {% end %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% end %}
