{% extends  "base.html" %}

{% block title %}
{{ post.title }}
{% end %}

{% block body %}

<div class="container">
    <div class="row jumbotron">
        <div id="content" class="col-md-12">
            <article class="article the-font">
                <h2>{{ post.title }}</h2>
                <p><small><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><span style="color:#8C8C8C;">{{ post.create_time }}</span></small></p>
                <div class="post-alert">本博客采用创作共用版权协议, 要求署名、非商业用途和保持一致. 转载本博客文章必须也遵循署名-非商业用途-保持一致的创作共用协议</div>

                {%raw content%}

                <div style="border-top:1px solid #EBEBEB;padding:10px 5px;margin-top:20px;">
                    <a href="/posts?category_id={{ post.category.category_id }}"><span class="label label-default"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> {{ post.category.categoryname }}</span></a>
                    <a href="/" class="btn btn-xs " style="float:right">返回首页<span class=" glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
                </div>
            </article>

            <div class="article the-font">
                <div class="comments">
                    <!-- 第三方分享按钮 -->
                    <!-- JiaThis Button BEGIN -->
                    <div class="jiathis_style_24x24">
                        <a class="jiathis_button_qzone"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_tqq"></a>
                        <a class="jiathis_button_weixin"></a>
                        <a class="jiathis_button_renren"></a>
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                    </div>
                    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
                    <!-- JiaThis Button END -->
                </div>


                <!--PC和WAP自适应版-->
                <div id="SOHUCS"></div>
                <script type="text/javascript">
                    (function(){
                    var appid = 'cytr40we9';
                    var conf = 'prod_3f0b0efc24682d4b59581ea6e7e8399d';
                    var width = window.innerWidth || document.documentElement.clientWidth;
                    if (width < 960) {
                    window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
                </script>
            </div>

        </div>
    </div>
</div>
{% end %}